
$color-black:#434343;

* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100vw;
    height: 100vw;
    font-family: din-2014,'Noto Sans JP',sans-serif;
}

a {
    text-decoration: none;
}

body {
    overflow: hidden;
}

header {
    padding: 80px 120px 16px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    a {
        font-size: 32px;
        font-weight: bold;
        color: $color-black;
    }
}

.header_about {
    a {
        width: 40px;
        height: 40px;
    }
}

.content_box {
    margin: 64px 184px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content {
    position: relative;
    width: 240px;
    height: 135px;
    margin: 12px;
    overflow: hidden;
    background: #EEEEEE;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.5s;

    &:hover {
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
    }

    .content_cover {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        background: rgba(0, 0, 0, 0.16);
        backdrop-filter: blur(8px);
        transition: opacity 0.5s;

        &:hover {
            opacity: 1;
        }
        
        .content_title1 {
            width: 100%;
            margin: 16px 24px 8px;
            color: white;
            font-size: 16px;
            font-weight: bold;
        }

        .content_title2 {
            width: 100%;
            margin: 0 24px;
            color: white;
            font-size: 12px;
            font-weight: bold;
        }
    }

    img {
        position: absolute;
        width: 100%;
        transition: 0.5s all;
    }
}