* {
  padding: 0;
  margin: 0; }

html, body {
  font-family: din-2014,'Noto Sans JP',sans-serif; }

a {
  text-decoration: none; }

body {
  overflow: hidden; }

.container {
  margin: 80px 120px 16px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between; }

.header_logo {
  display: flex;
  align-items: center; }
  .header_logo a {
    font-size: 32px;
    font-weight: bold;
    color: #434343;
    margin-right: 8px; }
  .header_logo p {
    font-size: 32px;
    line-height: 41px;
    font-weight: bold;
    color: #434343;
    margin-right: 8px; }

.directory {
  display: flex;
  align-items: center; }
  .directory a {
    font-size: 32px;
    font-weight: bold;
    color: #434343;
    margin-right: 8px; }
  .directory p {
    font-size: 32px;
    line-height: 41px;
    font-weight: bold;
    color: #434343;
    margin-right: 8px; }

.header_about a {
  width: 40px;
  height: 40px; }

.content_box {
  width: 1056px;
  margin: 64px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.content {
  position: relative;
  width: 240px;
  height: 135px;
  margin: 12px;
  overflow: hidden;
  background: #EEEEEE;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.5s; }
  .content:hover {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16); }
  .content .content_cover {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(8px);
    transition: opacity 0.5s; }
    .content .content_cover:hover {
      opacity: 1; }
    .content .content_cover .content_title1 {
      width: 100%;
      margin: 16px 24px 8px;
      color: white;
      font-size: 16px;
      font-weight: bold; }
    .content .content_cover .content_title2 {
      width: 100%;
      margin: 0 24px;
      color: white;
      font-size: 12px;
      font-weight: bold; }
  .content img {
    position: absolute;
    width: 100%;
    transition: 0.5s all; }

.detail_box {
  margin: 64px 200px; }
  .detail_box h1 {
    font-size: 32px;
    font-weight: bold;
    color: #434343; }
  .detail_box .tag_box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px; }
    .detail_box .tag_box .tag {
      display: block;
      font-size: 16px;
      font-weight: bold;
      color: #D5D5D5;
      background: white;
      padding: 12px 24px;
      border: 3px solid #EEEEEE;
      box-sizing: border-box;
      border-radius: 32px;
      margin-right: 16px; }
  .detail_box .detail_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0; }
    .detail_box .detail_container .detail_img {
      width: 50%; }
      .detail_box .detail_container .detail_img img {
        width: 100%; }
    .detail_box .detail_container .detail_text {
      width: 50%;
      padding: 20px 48px; }
      .detail_box .detail_container .detail_text p {
        font-size: 20px;
        font-weight: bold;
        color: #434343;
        line-height: 40px; }

.detail_opacity {
  opacity: 0.25;
  transition: opacity 0.5s; }
  .detail_opacity:hover {
    opacity: 1; }

.barba-leave-active,
.barba-enter-active {
  transition: opacity 450ms ease; }

/* initial state */
.barba-leave {
  opacity: 1; }

.barba-enter {
  opacity: 0; }

/* ending state */
.barba-leave-to {
  opacity: 0; }

.barba-enter-to {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
